@charset "UTF-8";
html a { color: #666; }

html a:hover { color: #ff6700; text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

/*弹出框*/
.alertbox { position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.3); width: 100%; height: 100%; z-index: 999; display: none; }

.alertbox .alert { margin: auto; left: 0; top: 0; right: 0; bottom: 0; width: 300px; height: 140px; background: #fff; padding: 0; border: 0; }

.alertbox .alert h3 { height: 40px; background: #18bb9c; line-height: 40px; padding-left: 20px; font-size: 16px; color: #fff; }

.alertbox .alert h3 a { display: inline-block; width: 20px; height: 20px; border-radius: 10px; border: 1px solid #fff; color: #fff; text-align: center; line-height: 18px; margin: 10px 10px 0 0; }

.alertbox .alert .info { line-height: 30px; text-align: center; font-size: 16px; }

.alertbox .alert .sure, .alertbox .alert .cancel { width: 50px; line-height: 30px; text-align: center; display: inline-block; color: #fff; border: 0; margin-right: 16px; }

.alertbox .alert .sure { background: #18bb9c; }

.alertbox .alert .cancel { background: #ccc; }

/*头*/
.head { height: 40px; background: #333; color: #ccc; }

.head .fr a { padding: 0 10px; margin-top: 14px; line-height: 12px; border-right: 1px solid #ccc; color: #ccc; display: block; float: left; }

.userhead, .big-userhead { width: 20px; height: 20px; border: 1px solid #fff; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; }

.big-userhead { width: 40px; height: 40px; font-size: 28px; line-height: 50px; margin: 20px 5px; float: left; }

.head .fl { line-height: 40px; font-size: 12px; }

.head .fl a { padding: 0 20px; color: #ccc; }

.time { display: inline-block; text-align: center; }

.time span { width: 16px; display: inline-block; }

.time .year { width: 32px; }

.date { margin-right: 10px; }

.un { color: #18bb9c; display: inline-block; padding: 0 6px; }

.head a:hover { color: #18bb9c; }

/*主区域*/
/*侧边状态信息栏*/
.content { position: relative; }

.list { background: #111; width: 200px; float: left; background: #222; }

.list a { display: block; line-height: 30px; color: #ccc; background: #222; text-align: center; }

.list a:hover { color: #18bb9c; }

.list-head { height: 80px; background: transparent url(/images/logo.png) no-repeat center center; }

.list-msg { height: 80px; background: #292c35; }

.list-message { float: left; margin-top: 20px; }

.list-message p { color: #ddd; }

.list-block { height: 40px; line-height: 40px; color: #fff; text-align: center; box-sizing: border-box; margin-bottom: 5px; background: #111; border-left: 5px solid #111; }

.click { cursor: pointer; }

.list-focus { border-left: 5px solid #18bb9c; }

.click:hover { border-left: 5px solid #18bb9c; }

/*内容栏*/
.right { padding-left: 200px; }

.right-head { height: 55px; border-bottom: 1px solid #ccc; }

.right-head .homefont, .right-head .headicon { line-height: 55px; text-align: center; width: 60px; border-right: 1px solid #ccc; font-size: 18px; }

.right-head .homefont:hover, .right-head .headicon:hover { color: #18bb9c; background: #ccc; }

.right-head .headicon { border: 0; }

.searchbox { float: left; position: relative; }

.searchbox #search, .searchbox input { display: inline-block; width: 24px; height: 24px; border-radius: 12px; border: 1px solid #aaa; position: absolute; left: 12px; top: 16px; text-align: center; font-size: 16px; line-height: 24px; }

.searchbox input { width: 220px; padding: 0 24px; font-size: 12px; text-align: left; }

.moresearch { color: #f00; padding-left: 300px; line-height: 55px; }

.moresearch a { color: #f00; margin-right: 20px; }

.moresearch a:hover { color: #f00; }

.cart { padding: 10px; }

.cart .carthead { background: #eee; height: 30px; border: 1px solid #ccc; }

.cart .carthead a { padding: 0 6px; line-height: 30px; }

.cart .carthead a:hover { color: #18bb9c; }

.cart .carthead .clean:hover { color: #f00; }

.cart .control { height: 60px; padding: 15px; }

.cart .control #selectall { margin: 4px; background: #fff; }

.cart .control #downall, .cart .control #deleteall { border-radius: 4px; height: 30px; padding: 0 8px; background: #18bb9c; color: #fff; vertical-align: middle; border: 0; margin: 0 10px; }

.cart .control #deleteall { background: #67c2e1; }

.product { border: 1px solid #666; height: 120px; background: #fef5eb; margin-bottom: 20px; }

.product a:hover { color: #666; }

.product .pro-block { border-left: 1px dashed #666; float: right; width: 120px; text-align: center; height: 100%; position: relative; }

.product .pro-block .pro-box { display: inline-block; vertical-align: middle; }

.product .pro-block .pro-box a { display: block; line-height: 24px; }

.product .pro-block .attr { background: #aaa; padding: 2px 6px; color: #fff; }

.product .pro-block .remove { position: absolute; top: 0; right: 0; }

.product .pro-mess { padding: 6px; }

.product .pro-mess input { margin: 0 10px; vertical-align: middle; }

.product .pro-mess img { display: inline-block; vertical-align: middle; height: 80px; }

.product .pro-mess .pro-message { display: inline-block; vertical-align: middle; padding: 4px; }

.product .pro-mess .pro-message a { color: #000; line-height: 30px; }

.product .pro-mess .pro-message p { color: #999; line-height: 14px; }

.product .price { font-size: 16px; font-weight: bold; }

/*链接*/
.site { padding: 25px 0 23px 70px; height: 141px; background: #333; color: #666; box-sizing: content-box; }

.site a { line-height: 30px; }

.site h3 { color: #aaa; font-size: 12px; font-weight: bold; line-height: 30px; margin: 0; }

.site li { padding: 0 24px; float: left; }

.site-row a { display: block; }

.site-col { max-width: 270px; }

.site-col a { margin-right: 20px; }

/*尾*/
.foot { background-color: #d6d6d6; padding: 34px 0 52px; text-align: center; color: #666; }

.foot a { padding: 0 6px 0 3px; }

.foot div { height: 40px; }

.foot span { color: #444; }
