@charset "UTF-8";
body, html { font-size: 12px; color: #818181; }

a { color: #9a9a9a; display: inline-block; }

a:hover { color: #ff6700; }

.main { width: 1190px; margin: 0 auto; }

.color-orange { color: #ff6700; }

.color-white { color: #fff; }

.color-red { color: red; }

.color-gray { color: gray; }

.bg-orange { background: #ff6700; }

.bg-cyan { background: #4bb9c6; }

.bg-red { background: #f00; }

.fl { float: left; }

.fr { float: right; }

/*确认框*/
.tocart { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); position: fixed; z-index: 999; top: 0; left: 0; display: none; }

.tocart .cartbox { margin: 100px auto; background: #fff; width: 400px; border-radius: 10px; overflow: hidden; position: relative; }

.tocart .cartbox p { background: url(/images/images/alert-success.png) no-repeat center 40px; padding: 100px 60px 20px; font-size: 18px; text-align: center; }

.tocart .cartbox p a { color: #ff6700; line-height: 40px; }

.tocart .cartbox .know { width: 100%; text-align: center; background: #ccc; border: 0; border-top: 1px solid #666; height: 50px; }

.tocart .cartbox .alertclose { position: absolute; right: 0; top: 0; border: 0; background: #fff; outline: none; font-size: 20px; }

/*顶部滑动框*/
.top { width: 100%; height: 60px; border-bottom: 1px solid #ccc; position: fixed; background: #fff; z-index: 10; top: -60px; }

.top .top-nav, .top form { display: inline-block; }

.top .top-nav, .top form, .top a { vertical-align: middle; }

.top a { padding: 0 6px; font-size: 14px; }

.top #topsearch { width: 290px; }

.top form { margin: 0 30px; }

/*左漂浮栏*/
.leftnav { position: fixed; left: 30px; bottom: 30px; z-index: 10; background: #fff; display: none; }

.leftnav a { display: block; width: 30px; height: 30px; border-bottom: 1px dashed #ccc; color: #ccc; text-align: center; padding: 4px; }

.leftnav .active { background: #f00; color: #fff; }

/*右漂浮栏*/
.rightnav { position: fixed; right: 30px; bottom: 30px; border: 1px solid #ccc; z-index: 10; background: #fff; }

.rightnav a { display: block; width: 30px; height: 30px; border-bottom: 1px solid #ccc; text-align: center; vertical-align: middle; padding: 5px; }

.rightnav a span { vertical-align: middle; display: inline-block; }

.rightnav1 { background: blue; color: #fff; }

.rightnav2, .rightnav8, .rightnav9 { color: #ff6700; }

.rightnav2:hover, .rightnav8:hover, .rightnav9:hover { background: #ff6700; color: #fff; }

.rightnav3 { color: #f60c86; }

.rightnav3:hover { background: #f60c86; color: #fff; }

.rightnav4 { color: purple; }

.rightnav4:hover { background: purple; color: #fff; }

.rightnav5 { color: green; }

.rightnav5:hover { background: green; color: #fff; }

.rightnav6 { color: #a2745b; }

.rightnav6:hover { background: #a2745b; color: #fff; }

.rightnav7 { color: #f00; }

.rightnav7:hover { background: #f00; color: #fff; }

/*头信息*/
.head { height: 35px; border-bottom: 1px solid #e6e6e6; font-size: 12px; }

.head a { padding: 0 6px; }

.head a:hover { color: #ff6700; }

.register-head { background: #f3f3f3; }

.head span { display: inline-block; }

.head-left { float: left; line-height: 35px; padding: 0 10px; border-left: 1px solid #efefef; border-right: 1px solid #efefef; }

.head-right { float: right; border-left: 1px solid #e6e6e6; line-height: 35px; }

.head-right a { padding: 0 12px; line-height: 35px; display: inline-block; }

.head-right > li { float: left; height: 35px; line-height: 35px; padding: 0 6px; border-right: 1px solid #e6e6e6; }

.head .tel-num { font-size: 16px; color: #333; }

.head .pullbox { position: relative; }

.head .pullboxes { display: inline-block; padding: 0 4px; border: 1px solid #fff; box-sizing: border-box; }

.head .mess { vertical-align: top; }

.head .pulldown { display: none; top: 36px; right: 0; width: 100%; background: #fff; }

.head .pullbox:hover .pullboxes { border: 1px solid #efefef; background: #fff; border-top: 1px solid #fff; }

.head li:hover .pulldown { display: block; }

.head li:hover .splite-2 { transform: rotate(180deg); }

.head .nav-pullbox { position: relative; }

.head .nav-pulldown { display: none; position: absolute; top: 35px; right: -11px; padding: 5px 20px; background: #fff; }

.nav-pulldown .pulldownbox { width: 360px; padding: 15px 0; border-bottom: 1px solid #efefef; }

.pulldownbox .header { float: left; height: 100%; width: 60px; font-weight: 700; color: #666; }

.pulldownbox .contentbox { width: 300px; float: left; }

.contentbox li { width: 75px; line-height: 30px; float: left; }

/*banner1*/
.banner { width: 100%; height: 90px; position: relative; }

.banner .close { position: absolute; top: 0; right: 0; width: 30px; height: 30px; font-size: 30px; z-index: 1; cursor: pointer; }

/*搜索栏*/
.logo-search { height: 100px; }

.logo-left { float: left; margin: 30px 4px 0 0; }

.search { float: right; margin: 12px 0 0 0; }

.search-title { line-height: 29px; }

.search-title a { text-align: center; padding: 0 10px; margin-right: 4px; display: inline-block; line-height: 30px; }

.searchform { margin-top: -1px; }

#searchbox, #topsearch { padding-left: 18px; width: 436px; height: 34px; border: 2px solid #ff6700; box-sizing: border-box; }

#search { width: 57px; height: 34px; text-align: center; line-height: 34px; background: #ff6700; outline: 0; border: 0; margin-bottom: -2px; box-sizing: border-box; cursor: pointer; color: #fff; }

.logobox { margin-top: 36px; }

.logobox img { display: inline-block; }

.logobox .message { padding-left: 10px; margin-left: 10px; border-left: 1px solid #e6e6e6; display: inline-block; }

.message h2 { font-size: 24px; color: #000; line-height: 30px; }

/*顶部导航1*/
.nav { height: 48px; background: #000; }

.nav a { float: left; padding: 0 18px; margin: 12px 0; line-height: 23px; border-left: 1px solid #555; color: #fff; font-size: 14px; }

.nav a:hover { color: #ff6700; }

#index { background: #ff6700; margin: 0; line-height: 48px; height: 48px; }

#index:hover { color: #fff; }

.nav .navlast { font-size: 12px; color: #777; float: right; border: 0; }

/*顶部导航2*/
.f-s-box { height: 38px; border-bottom: 1px solid #e6e6e6; }

.f-s-box a { padding: 0 9px; line-height: 38px; color: #333; }

.f-s-box a:hover { color: #ff6700; }

.f-s-box .f-s-ad { float: right; color: red; }

/*banner图2*/
.banner2 { padding: 20px 0; }

.banner2 a { display: block; float: left; }

.banner2 #banner2Cou .pages { display: none; }

/*搜索列表*/
.index-list .main { border-top: 1px solid #ccc; }

.index-list h3 { width: 80px; color: #ff6700; line-height: 40px; display: inline-block; text-align: center; vertical-align: middle; }

.index-list .list-box, .index-list .list-img, .index-list .list-pro { border: 1px solid #ccc; border-top: 0; }

.index-list .list-box a, .index-list .list-img a, .index-list .list-pro a { padding: 0 16px; }

.index-list .list-img a { padding: 6px; }

.index-list .list-pro ul, .index-list .list-pro ul li { display: inline-block; height: 40px; vertical-align: middle; }

.index-list .list-pro ul li { line-height: 40px; overflow: hidden; position: relative; padding: 0 16px; box-sizing: border-box; border: 1px solid #fff; }

.index-list .list-pro ul li:hover { overflow: visible; border: 1px solid #ccc; border-top: 0; border-bottom: 0; }

.index-list .list-pro ul li .pullbox-right, .index-list .list-pro ul li .pullbox-left { position: absolute; top: 41px; left: -1px; width: 420px; padding: 20px; background: #fff; border: 1px solid #ccc; border-top: 0; }

.index-list .list-pro ul li .pullbox-right a, .index-list .list-pro ul li .pullbox-left a { display: inline-block; line-height: 30px; width: 80px; }

.index-list .list-pro ul li .pullbox-left { left: -366px; }

/* 底部导航1*/
.footnav { padding: 25px 0 23px; height: 140px; margin-top: 44px; background: #393939; }

.footnav h3 { font-weight: bold; line-height: 20px; }

.footnav ul, .footnav .index-list .list-pro ul li, .index-list .list-pro ul .footnav li { height: 140px; }

.footnav ul li, .footnav .index-list .list-pro ul li li, .index-list .list-pro ul .footnav li li { float: left; height: 100%; padding: 10px 24px; }

.footlogo { padding: 27px; }

.footlogo a { padding: 16px; }

.footlogo .imgbox { display: block; }

.fnav, .f-buss { border-left: 1px solid #aaa; padding-left: 24px; width: 100px; }

.fnav a, .f-buss a { display: block; line-height: 24px; }

.f-buss { width: 200px; }

.f-buss a { display: inline-block; padding-right: 20px; }

/*底部导航2*/
.footnav2 { background: #393939; padding: 10px 0; }

.footnav2 div { padding: 10px 0; }

.footnav2 > .main > div { margin-bottom: 4px; border-bottom: 1px solid #555; }

.footnav2 .mess-head { margin-right: 10px; }

.footnav2 a { padding: 0 7px 0 4px; line-height: 12px; margin: 6px 0; border-right: 1px solid #555; }

/*底部信息*/
.footer { padding: 14px 0 52px 0; background-color: #d6d6d6; text-align: center; }

.footlink { line-height: 30px; }

.footlink a { padding: 20px; }

.foot-tel { margin: 0 10px; color: #aaa; }

/*精灵图*/
.splite { background: url(../images/splite.png) no-repeat; vertical-align: middle; display: inline-block; }

.splite-1 { background-position: 0 -150px; width: 77px; height: 22px; }

.splite-2 { background-position: -90px 0; width: 12px; height: 7px; transition: all .2s linear; }

.splite-3 { background-position: 0 -60px; width: 12px; height: 12px; }

.splite-4 { background-position: -30px -60px; width: 14px; height: 16px; }

.splite-5 { width: 14px; height: 16px; }

.splite-6 { background-position: -30px 0; width: 14px; height: 16px; }

.splite-7 { background-position: -60px 0; width: 18px; height: 16px; }

.splite-8 { background-position: 0 -90px; width: 27px; height: 22px; }

.splite-9 { background-position: 0 -120px; width: 63px; height: 22px; }

.splite-search { background-position: -88px -82px; }

.splite-qq { background-position: 0 -180px; width: 92px; height: 22px; }

.splite-email { background-position: 0 -210px; width: 92px; height: 22px; }

.splite-hnow { background-position: 0 -240px; }

.splite-hfocus { background-position: 0 -300px; }

.splite-pnow { background-position: -60px -240px; }

.splite-pfocus { background-position: -60px -300px; }

/**************************************主内容区域**********************************************/
/*推荐*/
#recommend { margin: 20px 0; }

.pro-box { border: 1px solid #eee; width: 188px; float: left; margin: 0 8px 8px 0; position: relative; }

.pro-box .imgbox { position: relative; overflow: hidden; height: 188px; }

.pro-box .imgbox img { display: block; }

.pro-box .imgbox .share { position: absolute; height: 30px; bottom: -30px; background: #ff6700; width: 100%; }

.pro-box .imgbox .share a { float: left; display: block; color: #fff; line-height: 30px; padding: 0 7px; }

.pro-box .imgbox .pro-mess { position: absolute; bottom: -200px; }

.pro-box .recommend-tag, .pro-box .create-tag { background: url(/images/images/recommend_ico.png); width: 44px; height: 43px; position: absolute; left: 0; top: 0; }

.pro-box .create-tag { background: url(/images/images/bussrecom_ico.png); width: 60px; height: 60px; }

.pro-box img { width: 100%; }

.pro-box .text { padding: 0 8px; }

.pro-box .text-s { padding: 0 16px; }

.pro-box .text-s p { height: 40px; line-height: 40px; text-align: center; }

.pro-box .text-s p .price { color: #18bb9c; font-weight: bold; font-size: 18px; }

.pro-box .text-s .texts-name { border-top: 1px dashed #ccc; }

.pro-box .text-s .texts-name a { color: #ccc; }

.pro-box .text-s .texts-name a:hover { color: #18bb9c; }

.pro-box p { line-height: 30px; height: 30px; color: #111; width: 100%; overflow: hidden; white-space: nowrap; box-sizing: border-box; }

.pro-box p .price { color: #f00; font-weight: bold; font-size: 18px; }

.pro-box .color-gray { color: gray; }

.pro-box .name a { color: blue; }

.pro-box .name a:hover { color: #ff6700; }

.pro-box .collect { border: 1px solid #ff6700; color: #ff6700; padding: 4px 6px; border-radius: 2px; }

.pro-box:hover { border: 1px solid #ff6700; }

/*实力质造*/
.create { margin: 40px 0; border-bottom: 4px solid #18bb9c; }

.create a { display: inline-block; background: #ccc; width: 80px; height: 36px; text-align: center; line-height: 36px; color: #333; font-size: 14px; }

.create .bg-qing { background: #18bb9c; color: #fff; }

#create .pro-box .share { background: #18bb9c; }

#create .pro-box .texts .text-name a { color: #333; }

#create .pro-box:hover { border: 1px solid #18bb9c; }

/*广告*/
.ad { margin: 30px 0; }

/*一手货源*/
.firsthand { margin: 40px 0; border-bottom: 4px solid #ff6700; }

.firsthand a { line-height: 40px; height: 40px; text-align: center; width: 80px; }

.firsthand .bg-orange { line-height: 40px; height: 40px; text-align: center; width: 80px; background: #ff6700; color: #fff; font-weight: bold; }

.firsthand .bg-orange:hover { color: #fff; }

.firsthand .fh-code-img { display: inline-block; vertical-align: bottom; height: 40px; width: 40px; position: relative; }

.firsthand .fh-code-img .imgbox { position: absolute; bottom: 0; left: 40px; display: none; background: #fff; padding: 20px; border: 1px solid #ccc; }

.firsthand .fh-code-img:hover .imgbox { display: block; }

/*广告位2（轮播图）*/
.ad2 .pages div { background: #ccc; }

.ad2 .pages .current { bacmground: #ff6700; }

/*精选 & 三日新款 & 七日人气*/
.choice, .choice2, .gold, .mass, .net, .man { width: 793px; margin-top: 30px; border-bottom: 3px solid #f00; float: left; }

.choice a, .choice2 a, .gold a, .mass a, .net a, .man a { color: #333; line-height: 36px; padding: 0 6px; vertical-align: middle; }

.choice .active, .choice2 .active, .gold .active, .mass .active, .net .active, .man .active { background: #f00; color: #fff; font-weight: bold; width: 80px; text-align: center; font-size: 16px; }

.choice .active:hover, .choice2 .active:hover, .gold .active:hover, .mass .active:hover, .net .active:hover, .man .active:hover { color: #fff; }

.choice p, .choice2 p, .gold p, .mass p, .net p, .man p { text-align: left; }

.choice2, .gold, .mass, .net, .man { width: 397px; }

.choice2 .normol, .gold .normol, .mass .normol, .net .normol, .man .normol { color: #fff; font-weight: bold; width: 80px; background: #ccc; text-align: center; font-size: 16px; }

.choice2 .normol:hover, .gold .normol:hover, .mass .normol:hover, .net .normol:hover, .man .normol:hover { color: #fff; }

#choice2, #choice, #goldbox, #netbox, #massbox, #man { width: 395px; }

#choice2 .pro-box, #choice .pro-box, #goldbox .pro-box, #netbox .pro-box, #massbox .pro-box, #man .pro-box { width: 195px; margin: 0; }

#choice2 .pro-box a, #choice .pro-box a, #goldbox .pro-box a, #netbox .pro-box a, #massbox .pro-box a, #man .pro-box a { padding: 6px; }

#choice, #goldbox, #netbox { width: 793px; }

#choice .choice-cou, #goldbox .choice-cou, #netbox .choice-cou { float: right; margin-bottom: 4px; }

#choice, #goldbox, #netbox, #choice2, #choice, #goldbox, #netbox, #massbox, #man { float: left; }

#choice .pro-box:hover, #goldbox .pro-box:hover, #netbox .pro-box:hover, #choice2 .pro-box:hover, #choice .pro-box:hover, #goldbox .pro-box:hover, #netbox .pro-box:hover, #massbox .pro-box:hover, #man .pro-box:hover { border: 1px solid #f00; }

/*真皮 & 金牌 & 大货 & 库存*/
.gold { width: 793px; border-bottom: 3px solid #ff6700; }

.gold .active { background: #ff6700; }

.mass { border-bottom: 3px solid #18bb9c; }

.mass .active { background: #18bb9c; }

#goldbox .pro-box:hover { border: 1px solid #ff6700; }

#massbox .pro-box:hover { border: 1px solid #18bb9c; }

/*全部网供货源&男鞋*/
.net { width: 793px; border-bottom: 3px solid #18bb9c; margin: 30px 0; }

.net .active { background: #18bb9c; }

.net a { width: 90px; }

.man { border-bottom: 3px solid purple; }

.man .active { background: purple; }

#netbox .pro-box:hover { border: 1px solid #18bb9c; }

#man .pro-box:hover { border: 1px solid purple; }

/*源产地货源*/
.source { border-bottom: 2px solid #ff6700; margin: 30px 0; }

.source a { width: 80px; line-height: 30px; color: #fff; background: #ff6700; text-align: center; }

#source .pro-box .recommend-tag, #source .pro-box .create-tag { display: none; }

/*广告位4*/
.ad4 { margin: 30px 0; }

/*猜你喜欢*/
.guess { height: 40px; position: relative; text-align: center; }

.guess .line { position: absolute; width: 100%; float: left; height: 19px; border-bottom: 1px solid #333; }

.guess h3 { display: inline-block; color: #333; text-align: center; line-height: 40px; width: 120px; background: #fff; position: relative; z-index: 2; font-size: 20px; }

#guess ul li, .index-list .list-pro ul #guess li li { width: 1190px; }

#guess .pages div { background: #ccc; }

#guess .pages .current { background: #f00; }
